.success{
background-color: green;
color:white;
padding: 10px;
font-weight: bold;
transition:all ease-in-out 0.3s;

}
.fail{
    color:white;
    padding: 10px;
    background-color: red;
    font-weight: bold;
transition:all ease-in-out 0.3s;
    

}
.delete{
    text-decoration: none;
    color:red;
    
}
td{
    align-items: center !important;
}